{% extends "website/index.html" %}


{% block body %}
    <div class="container">
        <div class="row">
                <h1 class="mb-4 text-center">All articles</h1>
        </div>
        <div class="row">
                {% for article in articles %}
                    <div class="col-md-4 mb-4">
                        <div class="card shadow-sm">
                            <div class="card-body">
                                <h5 class="card-title text-primary">{{ article.title }}</h5>
                                <p class="card-text">{{ article.content|truncatewords:20 }}</p>
                                <a href="{% url 'show_article' article.id %}" class="btn btn-primary btn-sm">Voir</a>                            </div>
                            <div class="card-footer text-muted">
                                Publié le: {{ article.created_at|date:"F j, Y" }}
                            </div>
                        </div>
                    </div>
                {% endfor %}
        </div>
    </div>
{% endblock %}